@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.App {
  text-align: center;
}


body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

div#content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 70px;
}

