
div#mapHolder {
    display: flex;
}
div#mapTable {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
#views>h4 {
  margin-top: 20px;
  
}
/* .viewDrawer{
    display: flex;
    flex-direction: column; 
} */


div#views {
    /* max-width: 300px; */
    /* padding-right: 20px; */
    margin: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #1a237e;
}
div#search-area {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  align-items: center;
}

#search-area>h4 {
  margin: 0px 10px;
  font-weight: 300;
  font-size: 1.1em;
}
#views > span {
    display: flex;
    transition: all 0.8s ease-out;
}
#views>span:hover {
  /* background-color: #f1f0f0; */
  background-color: #cdcdcd;
  
}
/* #map{
    flex:2;
  } */
  .content{flex-grow:1}
.map{
    width: 100vw;
   
  }
  #mapHolder{
      height: calc(100vh - 150px);
  }
  .MicrosoftMap .Infobox{
    width:200px;
  }
  .MicrosoftMap .Infobox .infobox-stalk{
    top:155.8px;
  }
  .MicrosoftMap .Infobox .infobox-body{
    width:170px;
  }
  .MicrosoftMap .Infobox .infobox-actions{
    height: 25px;
  }
  .infobox_pointer{
    width:33px;
    height:38px;
    overflow:hidden;
    position:relative;
    z-index:1;
    left:20px;
    top:-1px;
  }
div#legend{
  padding: 10px;
  margin: 10px;
  /* border: 2px solid #1a237e; */
  max-height: 85px;
  /* box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.3) */
}
#legend>h4 {
  font-size: 1em;
}
  div#legend-body {
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}
div#legend-body>p{
  font-size: 12px;
}

#legend-body>img {
    width: 24px;
    height: auto;
    margin: 0px 10px;
}